*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.studio-main,
.features,
.team,
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 40px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav a {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

header address ul {
  display: flex;
  list-style: none;
}

header address ul li {
  margin-right: 40px;
}

header address ul li:last-child {
  margin-right: 0;
}

header address a {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-studio,
.nav-portfolio,
.nav-contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-studio:hover,
.nav-portfolio:hover,
.nav-contacts:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.nav-studio:focus,
.nav-portfolio:focus,
.nav-contacts:focus,
.nav-studio:active,
.nav-portfolio:active,
.nav-contacts:active {
  color: #404bbf;
}

.mail,
.tel {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mail:hover,
.tel:hover,
.mail:focus,
.tel:focus,
.mail:active,
.tel:active {
  color: #404bbf;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.web-h {
  color: #4d5ae5;
}

.studio-h {
  color: #2e2f42;
  text-decoration: none;
  margin-right: 76px;
}

.studio-main {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

h1 {
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;#
}

.button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  text-align: center;
}

.button:hover,
.button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.banking-h,
.cashless-h,
.meditation-h,
.taxi-h,
.illustrations-h,
.courses-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.banking-p,
.cashless-p,
.meditation-p,
.taxi-p,
.illustrations-p,
.courses-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-strategy,
.features-punctuality,
.features-diligence,
.features-tecnologies {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.strategy-p,
.punctuality-p,
.diligence-p,
.tecnologies-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features h2 {
  margin-bottom: 72px;
}

.features ul {
  display: flex;
  gap: 24px;
}

.features li {
  flex: 1;
  text-align: center;
}

.features li svg {
  display: block;
  margin: 0 auto 8px;
}

.features h3 {
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team h2 {
  margin-bottom: 72px;
  text-align: center;
}

.team ul {
  display: flex;
  gap: 24px;
}

.team li {
  flex: 1;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 3px 0 rgba(46, 47, 66, 0.12);
}

.team li img {
  display: block;
  width: 100%;
  height: auto;
}

.team li h3 {
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.team li p {
  margin-bottom: 32px;
  text-align: center;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio h2 {
  margin-bottom: 72px;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio li {
  flex: 1 1 calc(33.333% - 16px);
  border-bottom: 1px solid #e7e9fc;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio li:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 3px 0 rgba(46, 47, 66, 0.12);
}

.portfolio li img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio li h3 {
  margin: 32px 16px 8px;
}

.portfolio li p {
  margin: 0 16px 32px;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.footer .logo {
  margin-right: 120px;

}

.footer-text {
  max-width: 264px;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;

}

.web-f {
  color: #4d5ae5;
}

.studio-f {
  color: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
